/*style.css*/

h1 {font-size: 60px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.box {background-color: pink;
    width: 500px;
    text-align: center;
    margin:auto;
    border: solid;
    border-color: rgb(9, 9, 73);
    padding: 10px;

    
}

body {background-color: rgb(208, 212, 208);}

.main {text-align: center;}

.lists {font-size: 20px;
        line-height: 30px;
}

p {font-size: 20px;
    text-align: left;
    margin-top: 20px;
    line-height: 7px;
}

.follow {text-align: center;